html,
body,
div {
    height: 100%
}
.web-extractor,
.web-extractor section {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100%;
    justify-content: flex-start;
}

textarea,
.text-content {
    width: 80%;
    height: 100%;
}

.text-content textarea{
    width: 100%;
}

button {
    margin: 1rem;
}